$purple-000: #885C9A;
$purple-100: #77458B;
$purple-200: #662E7D;
$purple-300: #56176F;
$link-color: $purple-300;

::-moz-selection {
    color: white;
    background: $purple-000;
}

::selection {
    color: white;
    background: $purple-000;
}

.pagination {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.pagination a.current {
    color: white;
    background-color: $purple-300;
    border: solid 56176F 1px;
    pointer-events: none;
    cursor: not-allowed;
}

.pagination a.disabled {
    color: #dee0e1;
    pointer-events: none;
    cursor: not-allowed;
    border: none;
    padding: 3px 0;
}

.pagination a {
    border: solid #ddd 1px;
    padding: 3px 5px;
    line-height: 1.8rem;
}

.post_time {
    color: #6f6f6f;
    font-size: 0.7rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI',
        'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;
}
