$purple-000: #885c9a;
$purple-100: #77458b;
$purple-200: #662e7d;
$purple-300: #56176f;
$link-color: $purple-300;

// Override
h1,
h2,
h3,
h4,
h5,
h6,
#toctitle {
    font-weight: 350 !important;
}

::-moz-selection {
    color: white;
    background: $purple-000;
}

::selection {
    color: white;
    background: $purple-000;
}

.pagination {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.pagination a.current {
    color: white;
    background-color: $purple-300;
    border: solid 56176F 1px;
    pointer-events: none;
    cursor: not-allowed;
}

.pagination a.disabled {
    color: #dee0e1;
    pointer-events: none;
    cursor: not-allowed;
    border: none;
    padding: 3px 0;
}

.pagination a {
    border: solid #ddd 1px;
    padding: 3px 5px;
    line-height: 1.8rem;
}

.post-time {
    color: #6f6f6f;
    font-size: 0.7rem;
    font-family: -apple-system, BlinkMacSystemFont, 
    'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;
}

.post-excerpt {
    text-align: justify;
    font-size: 0.875rem;
}

.highlighter-rouge {
    margin-bottom: 0 !important;
}

// Add New
.head-hr {
    height: 1px;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    background-color: $border-color;
    border: 0;
}

.zone-hr {
    height: 1px;
    padding: 0;
    margin: 0;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    background-color: $border-color;
    border: 0;
}

p.content,
blockquote.content {
    background: rgba(136, 92, 154, 0.2);
    border-left: 4px solid $purple-300;
    border-radius: 4px;
    padding: 0.8rem;
}

blockquote.content {
    margin-left: 0;
    margin-right: 0;
}

blockquote.content > p:first-child {
    margin-top: 0;
    margin-bottom: 0.2rem;
}

blockquote.content > p:last-child {
    margin-bottom: 0;
}

blockquote > ol {
    margin-bottom: 0;
}