/* ==========================================================================
   ngoanh2n-wp skin
   ========================================================================== */

/* Colors */
$text-color: #222 !default;
$background-color:#fff !default;
$border-color: #ededed !default;
$form-background-color: mix($text-color, $background-color, 15%) !default;

$toc-title-background-color: #fafafa !default;
$toc-menu-background-color: #ededed !default;

.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.page__content {
  a,
  a:visited {
    color: inherit;
  }
}

/* next/previous buttons */
.pagination--pager {
  color: $background-color;
  background-color: $border-color;
  border-color: transparent;

  &:visited {
    color: $text-color;
  }
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}